<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>Opravte následující chyby:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><li><%= message %></li></div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    Jméno<br>
    <%= f.text_field :jmeno, class: "form-control" %>
  </div>
  <div class="form-group">
    Příjmení<br>
    <%= f.text_field :prijmeni, class: "form-control" %>
  </div>
  <div class="form-group">
    Adresa<br>
    <%= f.text_field :adresa, class: "form-control" %>
  </div>
  <div class="form-group">
    Město<br>
    <%= f.text_field :mesto, class: "form-control" %>
  </div>
  <div class="form-group">
    PSČ<br>
    <%= f.number_field :psc, class: "form-control" %>
  </div>
  <div class="form-group">
    Telefonní číslo <br>
    <%= f.number_field :mobcislo, class: "form-control" %>
  </div>
  <div class="form-group">
     Datum kontaktu<br>
    <%= f.date_select :datumkontaktu, class: "form-control" %>
  </div>
  <div class="form-group">
    Email<br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    Kontaktován<br>
    <%= f.check_box :kontaktovan, class: "form-control" %>
  </div>
  <div class="form-group">
    Odpověď<br>
    <%= f.check_box :odpoved, class: "form-control" %>
  </div>
  <div class="form-group">
    Hodnocení<br>
    <%if current_page?(action: 'new')%>
    <div id="ratingsForm">
      <div class="stars">
          <input type="radio" name="star1" class="star-1" id="star-1"   />
          <label class="star-1" for="star-1">1</label>
          <input type="radio" name="star2" class="star-2" id="star-2"  />
          <label class="star-2" for="star-2">2</label>
          <input type="radio" name="star3" class="star-3" id="star-3"  />
          <label class="star-3" for="star-3">3</label>
          <input type="radio" name="star4" class="star-4" id="star-4"  />
          <label class="star-4" for="star-4">4</label>
          <input type="radio" name="star5" class="star-5" id="star-5"  />
          <label class="star-5" for="star-5">5</label>
          <span></span>
      </div>
    <%else%>
    <div id="ratingsForm">
    <div class="stars">
          <input type="radio" name="star1" class="star-1" id="star-1"  <%if @customer.rating.rating == 1%>checked="checked"<%end%> />
          <label class="star-1" for="star-1">1</label>
          <input type="radio" name="star2" class="star-2" id="star-2"  <%if @customer.rating.rating == 2%>checked="checked"<%end%> />
          <label class="star-2" for="star-2">2</label>
          <input type="radio" name="star3" class="star-3" id="star-3" <%if @customer.rating.rating == 3%>checked="checked"<%end%> />
          <label class="star-3" for="star-3">3</label>
          <input type="radio" name="star4" class="star-4" id="star-4" <%if @customer.rating.rating == 4%>checked="checked"<%end%> />
          <label class="star-4" for="star-4">4</label>
          <input type="radio" name="star5" class="star-5" id="star-5" <%if @customer.rating.rating == 5%>checked="checked"<%end%> />
          <label class="star-5" for="star-5">5</label>
          <span></span>
      </div>
      
    <%end%>
    </div>

  </div>
  <%if current_page?(:action=>:new) %><div class="form-group">
                    <%= label_tag :Poznámka %><br>
                    <%= text_area_tag('poznamka[poznamka]',nil, class: "form-control") %><br>
                  </div>
                  <%end%>
  <div class="actions">
    <%= f.submit "Uložit" %>
  </div>
<% end %>

<script type="text/javascript">
$(".rating").starRating({
minus: true // step minus button
});
</script>