
<h1>PPL</h1>
<%= link_to("Odhlášení", :controller => 'access', :action => 'logout') %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Filtrování
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <%=form_tag ppls_path, :method => 'get', :html => {:class => "form-horizontal"} do %>
        
      
          <div class="form-group">
            <strong>Datum od:</strong><br>
            <%= date_select('range', 'start_date', :order => [:month, :day, :year])%>
          </div>  
          <div class="form-group">
            <strong>Datum do:</strong><br>
            <%= date_select('range', 'end_date', :order => [:month, :day, :year])%>     
          </div>
          <br>
        <div class="form-group">
          <%= submit_tag 'Filtrovat',:class=>'btn btn-primary' %>
        </div>
      <% end %>
      <%=button_to 'Zrušit filtry', ppls_path, :method => 'get', :class=>'btn btn-primary'%>
            </div>
          </div>
        </div>
        </div>
<br><br>
<table class="table table-hover">
  <thead>
    <tr >
      <th><%= sortable "datum", "Datum" %></th>
      <th><%= sortable "castka", "Částka" %></th>
      <th><%= sortable "zaplaceno", "Zaplaceno" %></th>
      <th><%= sortable "dobirka", "Dobírka" %></th>
      <th><%= sortable "datumOdeslani", "Datum odeslání" %></th>
      <th><%= sortable "cisloBaliku", "Číslo balíku" %></th>
      <th><%= sortable "variabilniSymbol", "Variabilní symbol" %></th>
      <th>Zákazník</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @ppls.each do |ppl| %>
      <%if ppl.zaplaceno%> 
        <tr class="zaplaceno">
      <%else%>
        <tr class="nezaplaceno">
      <%end%>    
        <td><%= ppl.datum.day %>-<%= ppl.datum.month %>-<%= ppl.datum.year %></td>
        <td><%= ppl.castka %></td>
        <td><% if ppl.zaplaceno %>Ano<%else%>Ne<%end%></td>
        <td><% if ppl.dobirka %>Ano<%else%>Ne<%end%></td>
        <td><%= ppl.datumOdeslani.day %>-<%= ppl.datumOdeslani.month %>-<%= ppl.datumOdeslani.year %></td>
        <td><%= ppl.cisloBaliku %></td>
        <td><%= ppl.variabilniSymbol %></td>
        <td><%if ppl.customer.present?%><%= ppl.customer.name_with_initial %><%else%>-<%end%></td>
        <td><%= link_to 'Detail', ppl,:class=>"a" %></td>
        <td><%= link_to 'Editace', edit_ppl_path(ppl), :class=>"a" %></td>
        <% if params[:customer_id] %>
          <td><%= link_to 'Smazat', ppl, method: :delete, data: { confirm: 'Jste si jist?' }, :class=>"a" %></td>
        <%else%>
          <td><%= link_to 'Smazat', ppl, method: :delete, data: { confirm: 'Jste si jist?' }, :class=>"a" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @ppls %>
<br>
<%if params[:customer_id].present? %>
  <%= link_to 'Nový záznam', new_customer_ppl_path %>
  <%= link_to 'Zpět', customers_path %>
<%else%>
  <%= link_to 'Nový záznam', new_ppl_path %>
  <%= link_to 'Zpět', customers_path %>
<%end%>
