<div id="stred">  
  <p id="notice"><%= notice %></p>
  <%if !params["customer_id"].present? %>
    <p>
    <strong>Zákazník:</strong>
    <%if @ppl.customer.present?%><%= @ppl.customer.name_with_initial %><%else%>-<%end%>
    </p>
  <% end %>
  <p>
    <strong>Datum:</strong>
    <%= @ppl.datum %>
  </p>
  
  <p>
    <strong>Částka:</strong>
    <%= @ppl.castka %>
  </p>
  
  <p>
    <strong>Zaplaceno:</strong>
    <%if @ppl.zaplaceno %>Ano<%else%>Ne<%end%>
  </p>
  
  <p>
    <strong>Dobírka:</strong>
    <%if @ppl.dobirka %>Ano<%else%>Ne<%end%>
  </p>
  
  <p>
    <strong>Datum odeslání:</strong>
    <%= @ppl.datumOdeslani %>
  </p>
  
  <p>
    <strong>Číslo balíku:</strong>
    <%= @ppl.cisloBaliku %>
  </p>
  
  <p>
    <strong>Variabilní symbol:</strong>
    <%= @ppl.variabilniSymbol %>
  </p>
  <%if params[:customer_id].present? %>
    <%= link_to 'Editace', edit_customer_ppl_path(params[:customer_id],@ppl.id) %> |
    <%= link_to 'Zpět', customer_ppls_path(params[:customer_id]) %>
  <%else%>
    <%= link_to 'Editace', edit_ppl_path(@ppl) %> |
    <%= link_to 'Zpět', ppls_path %>
  <%end%>
</div>